@font-face {
    font-family: 'Arimo';
    src: url("assets/fonts/ArimoRegular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Arimo';
    src: url("assets/fonts/ArimoMediumItalic.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Arimo';
    src: url("assets/fonts/ArimoBold.ttf");
    font-weight: 700;
}
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e1e1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
}
  
.column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

html {
    scroll-behavior: smooth; 
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.header-name {
  display: flex;
  align-items: center;
}

.header-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 500px;
}
  
.header-img img {
    width: 100%;
    height: auto;
}