@font-face {
    font-family: 'Arimo';
    src: url("assets/fonts/ArimoRegular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Arimo';
    src: url("assets/fonts/ArimoMediumItalic.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Arimo';
    src: url("assets/fonts/ArimoBold.ttf");
    font-weight: 700;
}
* {
    box-sizing: border-box;
  }

.container-main {
    display: flex;
}
  
.column {
    flex: 1;
}